@import "../../fonts/karnakpro-condensedblack/stylesheet.css";

@import "../../fonts/karnakpro-light/stylesheet.css";

@import "../../fonts/franklin-normal-300/stylesheet.css";

@import "../../fonts/franklin-normal-600/stylesheet.css";

// Welcome section

    .welcomeSection{

        flex-direction:column;
        width:37.5rem;
        height:54.5625rem;
        margin:auto;

    }

    .welcomeSection[mode="header"]{

        height:47.1875rem;

    }

// indexHeader

    .indexHeader{

        flex-direction:column;
        width:37.5rem;
        height:4.25rem;
        margin:0rem auto;
        padding-top:3.125rem;

    }


// iconSection

    .iconSection{

        width:5rem;
        height:5rem;

    }

        .indexImg{

            width:100%;
            height:100%;

        }

        .indexImg[mode="header"]{

            width:2.5rem;
            height:2.5rem;

        }

// titleSection

    .titleSection{

        width:100%;
        height:fit-content;
        text-align:center;

    }

        .indexTitle{
            
            width:100%;
            font-family:'karnakpro-condensuploadedfile';
            font-size:3.125rem;
            margin:0.75rem auto 0rem auto;

        }

        .indexTitle[mode="header"]{
            
            width:100%;
            font-family:'karnakpro-condensuploadedfile';
            font-size:1.125rem;
            text-align:center;
            margin:0.5rem auto 0rem auto;

        }

        
        .indexSubtitle{

            font-family:'karnakpro-lightuploaded_file';
            font-size:2.375rem;
            margin-top:0.75rem;
            padding:0rem 4.0625rem;

        }

// indexMenu

    .indexMenu{

        width:100%;
        height:3rem;
        margin-top:2.25rem;
        font-family:"nytfranklinlight";
        font-size:1rem;
        color:black;
        text-align:center;

    }

        .indexBtn{

            width:11.25rem;
            height:3rem;
            margin:0rem 0.625rem;
            color:black;
            border:solid 1px black;
            border-radius:1.5rem;

        }

            .indexBtn[btnevent="play"]{

                color:white;
                background-color:black;

            }

            .indexBtn:link{

                text-decoration:none;

            }

            .btnText{

                padding-top:0.8rem;

            }

// indexInfo

    .indexInfo{

        width:10.75rem;
        height:2.5rem;
        margin-top:1.75rem;
        font-family:"nytfranklinlight";
        font-size:1rem;
        text-align:center;

    }

        .infoDate{

            font-weight:bold;

        }