// Import external styles

    @import "../../globalStyles.module.scss";

// langMenu

    .langMenu{

        width:10.75rem;
        margin-top:0.625rem


    }

// langBtn

    .langBtn{

        justify-content:space-between;
        padding:1.25rem

    }


        .langBtn:hover{

            color:black !important;
            border-color:black !important;

        }

// langImg

    .langImg{

        width:2.5rem;
        height:1.25rem;
        border-radius:1.5rem

    }

// itemText

    .itemText{

        font-family:'nytfranklinsemibold';
        font-weight:bold;
        //text-align:center;
        color:black;

    }

// langList

    .langList{

        border-radius:0.5rem;
        box-shadow:0rem 0.125rem 0.71875rem 0 rgba(0,0,0,0.2);

    }

        .langList li{

            margin-top:0.3125rem !important;
            border:solid 1px black !important; 
            border-radius:1.5rem !important;

        }

        .langList li:hover{

            background-color:$gray !important;


        }