@import '../../index.module.scss';
@import '../../fonts/karnakpro-condensedblack/stylesheet.css';
@import '../../fonts/franklin-normal-600/stylesheet.css';

.header{

    width:100vw;
    height:4.0625rem;
    justify-content:space-between;
    border: solid 1px $gray;
    /*margin-top:0.625rem;*/

}

// Languaje styles

.headerLang{

    justify-content:flex-start;
    align-items:center;

}

    .headerSwitch{

        width:2.5rem;
        height:2.75rem;
        padding:0.375rem;
        margin-left:1.25rem;
        border:none;
        border-radius:50px;
        cursor:pointer;

    }

    .switchEsp{



        background: no-repeat url("../../../public/spain-flag.png");
        background-size:100% 100%


    }

    .switchEng{

        background: no-repeat url("../../../public/usa-flag.png");
        background-size:100% 100%

    }


// Title styles

.headerTitle{

    justify-content:center;
    align-items:center;

}

    .headerH1{

        font-family: 'karnakpro-condensuploadedfile';
        font-size:2.25rem;
        
    }

// Navbar styles

.headerNav{

    justify-content:flex-end;
    align-items:center;

}

    .headerBtn{

        padding:0.375rem;
        background:none;
        border:none;
        cursor:pointer;

    }

    .loginBtn{

        width:9.2375rem;
        height:2.5rem;
        padding:0rem 1.56rem;
        margin:0rem 1.875rem 0rem 1.25rem;
        background:none;
        border-radius:1.25rem;
        cursor:pointer;
        font-family:'nytfranklinsemibold';
        font-weight:bold;

    }