@import '../../globalStyles.module.scss';

// switchTrack

    .switchTrack{

        width:2rem;
        height:1.2rem;
        border-radius:62.4375rem;
        background-color:$absentGray;
        border:none;

    }

        .switchTrack[state="true"]{

            animation-name:turnOn;
            animation-duration:0.3s;
            animation-fill-mode:forwards;

        }

        .switchTrack[state="false"]{

            animation-name:turnOff;
            animation-duration:0.3s;
            animation-fill-mode:forwards;

        }

// switchHandler

    .switchHandler{

        width:1rem;
        height:1rem;
        margin:0.125rem;
        border-radius:0.5rem;
        background-color:white;

    }

        .switchHandler[state="true"]{

            animation-name:turnOnMove;
            animation-duration:0.3s;
            animation-fill-mode:forwards;

        }

        .switchHandler[state="false"]{

            animation-name:turnOffMove;
            animation-duration:0.3s;
            animation-fill-mode:forwards;

        }

// Animations

    // Change background color

        @keyframes turnOn{

            0% {margin-left:0.125rem; background-color:$absentGray}

            100% {margin-left:1.25rem; background-color:$correctGreen}

        }

        @keyframes turnOff{

            0% {margin-left:0.125rem; background-color:$correctGreen}

            100% {margin-left:1.25rem; background-color:$absentGray}

        }

    // Move handler

        @keyframes turnOnMove{

            0% {transform:translateX(0rem)}

            100% {transform:translateX(0.75rem)}

        }

        @keyframes turnOffMove{

            0% {transform:translateX(1.25rem)}

            100% {transform:translateX(0rem)}

        }