@import '../../fonts/franklin-normal-700/stylesheet.css';

.resultModal{

    width:fit-content;
    height:16px;
    padding:13px;
    margin:0rem auto;
    background-color:black;
    border-radius:4px;

}

.resultText{

    font-family:"nytfranklinbold";
    font-size:0.875rem;
    color:white;
    text-align:center;

}