@import '../../fonts/franklin-normal-700/stylesheet.css';

.resultModal{

    width:fit-content;
    height:1rem;
    padding:0.8125rem;
    margin:0rem auto;
    background-color:black;
    border-radius:0.25rem;

}

.resultText{

    font-family:"nytfranklinbold";
    font-size:0.875rem;
    color:white;
    text-align:center;

}